<div class="users__list row">
  <h1>Users</h1>
  <div class="search col-lg-12">
    <form (ngSubmit)="onSearch()">
      <div class="input-group">
        <input
          type="text"
          class="search__bar form-control"
          [(ngModel)]="searchText"
          name="searchText"
          placeholder="Search by email"
        />
        <div class="input-group-btn">
          <button
            class="btn btn-default"
            type="submit"
            (click)="clearSearch()"
          >
            Search
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="user">
    <app-user [userFilter]="searchText"></app-user>
  </div>
</div>
