<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col" *ngFor="let user of getFilteredUsers()">
    <div class="card">
      <img [src]="user.image" class="card-img-top" alt="profile image" />
      <div class="card-body">
        <h5 class="card-title">
          {{ user.username
          }}<span class="user__verification">
            <i
              *ngIf="user.is_verified"
              class="fa-sharp fa-solid fa-star"
              style="color: #00ff55"
            ></i>
            <i
              *ngIf="!user.is_verified"
              class="fa-sharp fa-solid fa-star"
              style="color: #ff0000"
            ></i>
          </span>
        </h5>
        <p class="card-text user__mail">{{ user.email }}</p>
        <p class="card-text user__phone">{{ user.phone }}</p>
      </div>
    </div>
  </div>
</div>
